* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ab61dd;
}
.container div {
  padding: 25px 40px;
  font-size: 20px;
  color: #fff;
  background-color: #74359e;
  border-radius: 8px;
  margin: 0 15px;
}
