*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{
    width: 90vw;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
}
.container div{
    width: 6vw;
    height: 100%;
    border-radius: 60px;
    margin-right: 20px;
    position: relative;
    transition:  all .7s;
}
.container div h3{
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 26px;
    color: #fff;
    opacity:0;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.container div:nth-child(5){
    margin-right: 0;
}
.container .active{
    flex: 5;
    background-size: cover;
}
