* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #636ddf;
  display: flex;
  justify-content: center;
}
.container {
  width: 60vw;
  background-color: #fff;
  margin-top: 200px;
  padding: 50px 80px;
  text-align: center;
  border-radius: 8px;
}
.container h1 {
  text-align: center;
  font-size: 18px;
  color: #808080;
}
.container .text {
  margin: 60px 0;
  font-size: 18px;
  font-weight: 700;
}
.container .btn {
  padding: 10px 30px;
  background-color: #a866de;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  border: 0;
}
